#############################################################################
# Mandatory configuration parameters
#############################################################################

multicast 228.12.12.66 6667

acceptor 1 192.168.3.41 7771 5551
acceptor 2 192.168.3.42 7772 5552
acceptor 3 192.168.3.43 7773 5553

p1_interval 0 15000
p2_interval 0 5000

quorum_size 2

#############################################################################
# Optional configuration parameters
#############################################################################

socket_buffers_size 16777216
mcaster_clock_interval 0 1000

default_autoflush_interval 100

delivery_check_interval 0 2000
retransmit_request_interval 0 5000

working_set_size 10000
max_active_instances 250
preexecution_window_size 400
max_p2_open_per_iteration 12

max_client_values_queue_size 250


