# Multicast address -> IP PORT
multicast 239.00.0.1 6667

# Acceptors -> ID RING_IP RING_PORT LEARNERS_PORT
acceptor 1 127.0.0.1 7771 5551
acceptor 2 127.0.0.1 7772 5552
acceptor 3 127.0.0.1 7773 5553

quorum_size 2

p1_interval 2 0
p2_interval 2 0
mcaster_clock_interval 1 0

delivery_check_interval 1 0

socket_buffers_size 4194304

working_set_size 150
max_active_instances 10
preexecution_window_size 30
default_autoflush_interval 100